

.reg-height{
    height: 200px;
    background-color: #289BDE;
}
.carousel-item {
    height: 500px;
    
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      filter: brightness(50%);
      min-height: 500px;
  }
  
  .left{
    margin-left: 20px;
  }

  a{
    text-decoration: none;
    color: white;
    
  }
  .fa-brands{
      font-size: 20px;
      margin-left: 5px;
  }